@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar .active {
    background: transparent !important;
    color: gray !important;
}

#categories .active {
    background: lightgray !important;
    color: black !important;
    font-weight: 600 !important;
}

.btn {
    text-transform: capitalize;
}